Calligraphy\ Dictionary/Pods/OpenCV2-contrib/opencv2.framework/
Calligraphy\ Dictionary/Pods/OpenCV2-contrib/opencv2.framework/**
Calligraphy\ Dictionary/Pods/OpenCV2/opencv2.framework/
Calligraphy\ Dictionary/Pods/OpenCV2/opencv2.framework/**
Calligraphy\ Dictionary/Pods/Google-Mobile-Ads-SDK/
Calligraphy\ Dictionary/Pods/Google-Mobile-Ads-SDK/**
Calligraphy\ Dictionary/Calligraphy\ Dictionary/fmdb.db
